<section>
  <div class="description">
    <h1>Privacy Policy – Habeas Data <span class="line"></span></h1>
    <p>
      Esta política de privacidad le informa sobre qué debe usted esperar cuando Sanderi Organization recolecta, procesa, comparte y archiva sus datos personales.<br><br>
    </p>
    <h1>
      ¿Qué información nosotros recolectamos?
    </h1>
    <br>

    <p>
      Cuando usted nos contacta
    </p>

    <ul>
      <li>Datos personales que usted haya proporcionado en su correspondencia o formatos de consentimiento legal y secreto comercial, incluido su nombre y detalles de contacto.</li>
    </ul>
    <br>

    <p>
      Cuando una persona nos contacta en su nombre
    </p>

    <ul>
      <li>Datos personales proporcionados por un tercero actuando en su nombre o a su favor tales como su nombre, detalles de contacto y detalles específicos, como a su vez los que correspondan a dicho tercero.</li>
    </ul>
    <br>

    <h1>
      ¿Qué datos recolectamos y que debe usted esperar en caso de visitar una de las fincas piloto?
    </h1>

    <p>
      Cuando usted ha sido invitado a uno de los eventos de la organización o a visitar una de las fincas piloto sea directamente por nosotros o por una tercera persona
    </p>

    <ul>
      <li>Su nombre, número de identificación y datos de contacto.</li><br>
      <li>En algunos casos, también se recolectarán su día y ciudad de nacimiento, su records y antecedentes judiciales (para efectos de acreditación y seguridad), copia de su seguridad social y caja de compensación, requerimientos dietarios, detalles de alguna acomodación médica especial, y detalles de su medio de transporte, si aplica al caso.</li><br>
      <li>Usted deberá recibir la invitación firmada por la organización y el propietario autorizando la entrada a la finca piloto, indicando las fechas de entrada y salida de la finca.</li><br>
      <li>Usted deberá firmar el libro de visitas a las fincas y seguir las instrucciones impartidas a la entrada por parte de los propietarios.</li><br>
      <li> No deberá extraer ninguna planta, flor, semilla o especie animal de las fincas piloto o entrar especies foráneas o provenientes de otras fincas sin el consentimiento del propietario.</li><br>
      <li>Deberá cambiar y lavar sus botas si va a ingresar de una finca a otra en el mismo recorrido.</li><br>
      <li>Igualmente, no deberá ingresar plántulas o semillas de café, cacao u otras especies sin la autorización del técnico del servicio de extensión de la Federación Nacional de Cafeteros.</li><br>
      <li>Usted deberá firmar electrónicamente este consentimiento informado, autorizando el uso de sus datos para los fines del proyecto, guardando el secreto comercial, consintiendo que toda entrevista e imagen suya en fotografía o video pueda ser utilizada para los fines del proyecto de investigación o programa.</li><br>
      <li>De ser invitado, su vestuario debe ser acorde al clima de las fincas pilotos, y en ningún caso podrá usar shorts, pantalonetas sugestivas, pantalones sugestivos, escotes, bañadores o prendas de vestir que no sean acordes a las condiciones ambientales y las buenas costumbres del lugar.</li><br>
      <li>Igualmente se prohíbe el uso de armas, el consumo de licor o de sustancias psicoactivas y cualquier comportamiento que atente contra la seguridad de las personas, la biodiversidad o los cultivos, o que altere la paz y las buenas costumbres del lugar.</li><br>
      <li>Si usted se le permite ir con acompañante, de igual manera se recolectarán sus datos.</li><br>
      <li>Si realizan alguna labor por fuera de las investigaciones académicas, se entenderá prestada voluntariamente y deberá ser autorizada por los propietarios de las fincas piloto. Podrá tomar fotos de los alrededores pero para fotos con las familias, menores y propietarios deberá pedir permiso a ellos con antelación si desean ser visibilizados en redes, el cual consta de permiso en mensaje de texto por parte del teléfono registrado del propietario.</li><br>
      <li>Se reserva el derecho de admisión y en cualquier momento por una circunstancia de fuerza mayor o caso fortuito, de inconformidad por parte de los propietarios de las fincas, o por incumplimiento de los protocolos de seguridad industrial agrícola mínimos se le solicitará que retorne a la ciudad más cercana.</li><br>
      <li>Huellas digitales y copia de su identificación así como la aceptación de su consentimiento informado y a las medidas de seguridad industrial agrícola si va a ingresar a una de las fincas pilotos o va a participar como beneficiario de uno de los programas de investigación académica.</li><br>
      <li>Si usted tiene un accidente o lesión mientras visita una de las fincas piloto, se le requerirá completar un formato de reporte en el cuál preguntaremos su nombre, datos de contacto y naturaleza del accidente o lesión.</li><br>
      <li>En caso que suceda alguna circunstancia inesperada durante su visita o estadía en una de las fincas piloto, deberá informar inmediatamente a la persona encargada de logística.</li><br>
      <li>Usted tiene derecho a atención inmediata por cualquier circunstancia de fuerza mayor o caso fortuito, o condición de vulnerabilidad que se presente, solamente infórmese oportunamente al propietario de la finca y a la persona que lo autorizó a entrar por parte de la organización. En caso de eventos catastróficos o médicos, llamar primero a la línea de emergencias #112 o 911 y avisar a su familiar o persona de contacto.</li><br>

    </ul>
    <br>

    <p>
      Cuando usted provea bienes y/o servicios a la organización o a una de las directoras, sus datos son custodiados.
      Recuerde que en ningún caso, la organización o alguna de sus miembros o directoras puede tomar crédito o préstamos a nombre propio o a nombre de la organización para la ejecución de los programas, salvo que usted haya hecho convenio expreso con la directora general.
    </p>

    <ul>
      <li>Su nombre, nombre de su organización, NIT de su organización, dirección, detalles de contacto, correo electrónico, detalles bancarios y referencia tributaria RUT.</li><br>
      <li>Copia vía email de los recibos.</li>
    </ul>

    <br>

    <p>
      Cuando usted visita nuestra página web o interactúa con nosotros vía correo electrónico y el centro de medios audiovisuales.
    </p>

    <ul>
      <li>Su dirección IP y preferencias de navegación y escogencias.</li><br>
      <li>Su nombre, su seudónimo y cualquier comentario que usted haya hecho.</li>
    </ul>

    <br>

    <h1>¿Cómo recolectamos la información?</h1>
    <p>En algunos casos, nosotros recolectamos los datos debido a una relación contractual, por ejemplo, ambos la organización y usted están cumpliendo las obligaciones impuestas bajo los términos de oferta y las condiciones de cualquier convenio que esté siendo ejecutado.
      <br><br>
      En otros eventos, nosotros recolectamos los datos por un interés legítimo de la organización para procesar la información, por ejemplo, para archivar cualquier correspondencia que usted nos haya enviado y poderle responder respectivamente.
      Nosotros procesamos la información de los visitantes y los huéspedes para enviarles invitaciones a eventos y reuniones, y para saber quiénes están en los eventos, las fincas pilotos y las oficinas por razones de seguridad y salud.
      Nosotros proveemos su información a las directoras generales y a las organizadoras de los eventos para que tengan conocimiento de quienes ellas están entrevistando y por qué.
      <br><br>
    En otros casos, nosotros custodiamos la información suministrada en los consentimientos. Si la base para recolectar y procesar sus datos es basado en su consentimiento activo, usted tiene el derecho de retractarse de este consentimiento en cualquier momento.</p>

    <br>
    <h1>¿Cómo usamos su información?</h1>
    <p>Nosotros procesamos sus datos con el fin de:</p>

    <ul>
      <li>Registrar y archivar correspondencia y regalos y responder adecuadamente</li><br>
      <li>Enviar invitaciones a reuniones y eventos desarrollados por la organización, alguno de sus patrocinadores o en conjunto con otras organizaciones o entidades públicas o privadas</li><br>
      <li>Saber quién está visitando las fincas piloto por razones de seguridad y salud.</li><br>
      <li>Proveer a las directoras y coordinadoras sobre la información sobre quién y por qué están entrevistando a una persona en particular.</li><br>
      <li>Desarrollar contratos con proveedores de bienes y servicios y pagarles por los servicios recibidos.</li><br>
      <li>Mantener relaciones de amistad y contacto con individuos y organizaciones que tengan afiliación o empatía con la organización Sanderi.</li><br>
      <li>Enviar mensajes de agradecimiento, invitaciones y saludos generales.</li><br>
      <li>Prevenir y detectar el crimen y los delitos, así como las conductas que alteren las buenas costumbres del lugar a través de cámaras CCTV.</li><br>
      <li>Enviar comunicados de prensa, notas operacionales y notificaciones audiovisuales.</li><br>
      <li>Confirmar su identidad y posición dentro de uno de los proyectos, eventos o programas realizados por la organización o en conjunto entre esta y otras entidades públicas y privadas.</li>

    </ul>

    <br>

    <h1>¿Dónde se almacena la información?</h1>
    <p>Sus datos personales y financieros obtenidos por su consentimiento serán almacenados en una diversidad de medios:</p>

    <ul>
      <li>En archivos de papel y documentales de manera segura en las oficinas de la organización</li><br>
      <li>En sistemas de software que son administrados por la misma organización o por una tercera persona contratada para tal fin, quien no podrá utilizarlos ni venderlos a ninguna persona u organización.</li>
    </ul>

    <br>

    <h1>¿Con quién compartimos su información?</h1>

    <p>No compartimos datos con fines comerciales o financieros. Nosotros podremos compartir su información con el fin de obtener a su vez información suya de terceras personas:</p>

    <h1>Proveedores de servicios:</h1>
    <p>Nosotros trabajamos con proveedores de servicios que puedan cumplir algunas de las funciones necesarias en nuestra representación para los fines de proyectos de investigación académica o programas, por ejemplo:</p>
    <ul>
      <li>Contratistas para la provisión de eventos y reuniones</li><br>
      <li>Proveedores de correspondencia y compañía que producen invitaciones</li><br>
      <li>Terceras partes contratadas para el manejo de cookies en nuestra página web quienes quedan desautorizados para utilizar sus datos</li><br>
      <li>Redes sociales como Facebook, twitter, instagram u otro en donde tenemos presencia</li>
    </ul>

    <p>Autoridades en caso de emergencias de seguridad, salud o sanitarias</p>
    <ul>
      <li>La Policía Nacional o Metropolitana de la ciudad</li><br>
      <li>Ejército Nacional de Colombia si es a lugar</li><br>
      <li>Instituto Colombiano de Bienestar Familiar</li><br>
      <li>Instituto Colombiano de Agricultura</li><br>
      <li>Policía Ambiental</li><br>
      <li>Migración Colombia</li><br>
      <li>Policía de menores</li><br>
      <li>Prestadores de salud pública</li>
    </ul>
    <br>


    <h1>Otras organizaciones:</h1>

    <p>Nosotros podremos compartir datos personales con otras organizaciones en las siguientes circunstancias:</p>

    <ul>
      <li>Propietarios de fincas piloto</li><br>
      <li>Abogados y conciliadores con el fin de ejercer nuestro derecho a la defensa y el acceso a la justicia</li><br>
      <li>Por requerimiento judicial o administrativo por ley o por autoridad pública</li>
    </ul>

    <br>
    <h1>¿Cómo protegemos sus datos?</h1>

    <p>Nosotros tomamos muy en serio la protección de sus datos. Tenemos políticas internas y controles para asegurar que sus datos sean custodiados apropiadamente, y que no son accedidos por ninguno fuera de nuestras directoras, empleados o terceras partes contratadas en el cumplimiento de sus funciones y deberes.
      <br><br>
      Nosotros contratamos terceras partes para procesar datos personales en nuestro nombre en base a instrucciones precisas impartidas, y bajo el contrato de confidencialidad. Estas partes están obligadas a implementar apropiadamente medidas técnicas y organizacionales para asegurar la confidencialidad, la privacidad y la protección de los datos en línea con la legislación internacional y nacional vigente.</p>

    <br>
    <h1>¿Por cuánto tiempo están guardados los datos?</h1>

    <p>Nosotros retenemos y custodiamos los datos comerciales y financieros que tengan relación con los proyectos de investigación académica y ejecución de programas por diez años o según lo requerido por las autoridades respectivas. Algunos datos personales son guardados indefinidamente como parte de la memoria histórica o artística de la organización o sus beneficiarios.</p>


    <br>
    <h1>¿Cuáles son mis derechos?</h1>

    <p>Como sujeto de habeas data y confidencialidad, usted tiene derechos.  Usted puede:</p>

    <ul>
      <li>Acceder y obtener copia de sus datos por requerimiento</li><br>
      <li>Preguntarnos cómo cambiar datos incorrectos o incompletos</li><br>
      <li>Requerirse a borrar o parar de procesar sus datos, por ejemplo, cuando sus datos ya no son necesarios para los fines de procesarlos</li><br>
      <li>Objetar el procesamiento de sus datos donde tengamos intereses legítimos o judiciales</li><br>
      <li>Requerir una copia de los datos que usted ha proveído en un formato de consentimiento, de tal forma que usted pueda rehusar o transferirlos a otro controlador de datos que usted desee</li><br>
      <li>Preguntarnos si nosotros hemos decidido realizar un perfil suyo cuando procesamos sus datos personales</li>
    </ul>

    <p>Por favor, tenga en cuenta que ninguno de estos derechos es absoluto y que nos reservamos el derecho de atender su requerimiento cuando sea necesario por ley o autoridad pública.</p>


    <br>
    <h1>Información de contacto y avisos finales</h1>

    <p>El equipo de seguridad de datos contratado por Sanderi Organización es responsable por asegurar el cumplimiento con la legislación de habeas data sea internacional o nacional. Si usted desea comunicarse con ellos, por favor escriba a la directora general marcelacortes@sanderiorganization.org o a la Carrera 13 A No. 28 - 21, Suite 3903, Museo del Parque Torre Alta, Centro Internacional, Bogotá D.C., Colombia, Sur América.</p>

    <h1>Los controladores de datos registrados son los siguientes:</h1>

    <p>La Representante legal o Dirección Jurídica es la controladora de los datos relacionados con los miembros honorarios y las directoras de la organización.
      <br><br>
    La Directora General es la controladora de los datos relacionados con las comunidades, entidades públicas o privadas, voluntarias, pasantes o personas beneficiarias de eventos, reuniones o programas de la organización. <br><br>
    La Directora de Negocios Internacionales es la controladora de los datos relacionados a los fines tributarios, aduaneros, contables y cambiarios de las plataformas digitales y proyectos de exportación. <br><br>
      Si usted tiene dudas o quejas respecto sobre el uso de sus datos personales, la Defensoría del Pueblo es la autoridad competente para explicarle sus derechos al habeas data y la privacidad en Colombia.
      Ellos pueden ser contactados a través de su Website: www.defensoria.gov.co atención al ciudadano y ciudadana, o a la línea de ayuda (57) (1) 3147300, o escribiendo un derecho de petición al Defensor del Pueblo, Carrera 9 No. 16 – 21 Bogotá, D. C., Código Postal 110231.</p>
  </div>
</section>
