<section>
    <h1>Export Platform of Specialty Coffee Beans<span class="line"></span></h1>
    <p>
        The export platform is a model of business of small quantities of specialty coffee
        harvested in 17 farms that pertains to the Association located in Anolaima and La
        Mesa. We aim to sell the harvest per advance in order to provide the best selection
        of premium Colombian quality.<br><br>
        The green beans are previously submitted to a cupping test in a Laboratory of FNC
        to obtain a grade of quality “Café de Colombia” and certify the origin. The
        laboratory is located in the “Comité de Cafeteros” de Viota, in which certified staff
        carefully examine the beans and recommends improvement measures for further
        harvests.<br><br>
        We are authorized for exporting selected beans packed
        in 1,000 gr inside international certified bags, roasted according to the cupping test
        and the customer requirements. Each bag is labelled in detail, preserving the
        identity of the farm, its cupping test, and the type of roasting grade and grind.<br><br>
    </p>
<!--    <div class="img" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/FOTO_CAFE.png'+')'}"></div>-->
    <img src="{{authService.API+'img/programs/FOTO_CAFE.png'}}" alt="Selected Beans Sanderi Wild Coffee produced by Specialty Coffee Rural Women´s Association of Alto Tequendama">
    <span>Foto: Selected Beans Sanderi Wild Coffee produced by Specialty Coffee Rural Women´s Association of Alto Tequendama</span><br>
    <p>
        La Mesa farms are located in the following trails: Anatoli, Altogrande, Doima Alto,
        Doima Bajo, La Esperanza and San Pablo; Anolaima farms, in San Cayetano, Santa
        Barbara y Calandama.<br><br>
        The farms are: San Pedro, Villa Clara, Naranjales "Flor de Jade", Quebradita y
        Yarumito, Zamarkanda, La Ilusión, El Rinconcito, La Gloria, San Vicente, San
        Gabriel, La Alcancía Villa Diana, La Quinta Maravilla, Los Guaduales de Santa
        Barbara "Café del Cielo a la Tierra", Las Delicias, Cantar del Carmen y Urantia.<br><br>
<!--        The harvest is selected 5 times after cultural practices in each farm. The pergamino-->
<!--        (gold coffee beans) and green beans are stored in SuperGrainbag™ or SuperBolsa™-->
<!--        sold by the company Fibtex Colombia – Grain Pro “Storing the Future”. This-->
<!--        storage is needed to prevent beans from being polluted by humidity or aliens-->
<!--        factors.<br><br>-->
<!--        In 2019, “Café de la Mesa” was the roaster. Pedro Leal and Angelica Bolivar make a-->
<!--        fabulous selection in Anatoli and Altogrande. The roasters are located in-->
<!--        Zamarkanda Farm, and are developing a Laboratory for serving the rural-->
<!--        communities of the region.<br><br>-->
        This year 2020, Lucía Londoño Roaster is in charge of roasting our selected beans.
        She is entrepreneur specialized in cupping tastes, certified by the Coffee Quality
        Institute CQI. She is also barista coffee certified by SCAE, and roaster since 2005.
        Her team worked continually to refine the selection.<br><br>
    </p>
    <div class="img" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/FOTO_DE_LUCIA_LONDOÑO.png'+')'}"></div>
    <span>Foto: Lucia Londoño</span><br>
    <p>
        We have also a junior cupping tester and barista coffee, who participate in our
        shows and events. She is Mariana Valero. She transfers knowledge to rural ladies
        about gourmet preparation methods; she also designs our menu about which sweets
        and salty foods could perfectly accompanying our beans.<br><br>
    </p>
    <div class="img" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/FOTO_LUZ_MARINA_SANCHEZ_DE_CORTES_Y_MARIANA_VALERO_WEB.png'+')'}"></div>
    <span style="margin-bottom: 50px;">Foto: Luz Marina Sanchez de Cortes y Mariana Valero</span>
    <div class="img" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/FOTO_DE_CATADORA_MARIANA_VALERO_WEB.png'+')'}"></div>
    <span>Foto: Catadora Mariana Valero</span>
    <p style="text-align: center; color: #233580; margin-top: 50px;">
        <span>Further information and sales:</span>specialtycoffee@sanderi.org<br><br>
        <span>Customer service claims and queries:</span>customerservice@sanderi.org
    </p>
</section>
