<section>
  <div class="description" [hidden]="translate">
    <h1>About this site <span class="line"></span></h1>
    <p>
      This is the official web of Sanderi Organization. This site is aimed to provide information about the organization and their present and past programs.<br><br>
      We provide information about the core values that guide the social work and research made by the members,
      the history of the patrimony and heritage that we wish to preserve for future generations, information about coffee gardens farms associated that pertains to Alto Tequendama Region,
      and mostly the commitments and meetings attended by the senior members.<br><br>
    </p>

    <h1>Privacy Policy</h1>
    <p>
      Sanderi Organization considers legal custody and accurate treatment of habeas data as vital for all operation success.
      We maintain confidentiality and keep privacy of individuals that interact with us. Privacy Policy will provide specifically information about how we treat such data.
    </p>
    <br>

    <h1>
      Link Policy
    </h1>

    <p>
      You may link pages showed in this place without previous permission; we do not object direct links to the information if you quote and preserve our intellectual and author rights.
      However, we do not allow you to discharge or copy the pages in frameworks pertaining to other websites. <br><br>
      Sanderi Organization is not responsible for the content or reliability of those websites in which our pages have been linked. Also, we do not necessarily support or adhere to ideologies or content showed up in the websites.
      Linking or quoting must not be considered adhesion or support of any nature. We cannot guaranty that links will work all times, and we do not have control about the availability of these websites.
    </p>
    <br>

    <h1>
      System Privacy
    </h1>

    <p>
      Sanderi Organization website, excepting for subscriptions and mailbox, do not store or custody habeas data. Only we trace the user IP, which the web server recognizes automatically. We do not use cookies for recollecting no consented data.  <br><br>
      If you sent us your data, we will custody them in a safe server. We do not share your data with third parts.
      If you give  us permission to sent you invitations or emails, we only will sent you those about the topics you choose for. We comply with the habeas data policies valid for Colombia.
    </p>
    <br>

    <h1>
      Google Analytic Cookies
    </h1>

    <p>
      Sanderi Organization website uses Google Analytic Cookies to track overall browsing patterns on the website. For instance, it helps us identify the most popular pages on the website,
      find out which links are being clicked on), and to give us broad demographics about from where, in the Commonwealth for example, users are accessing the site. We cannot personally identify any user with these cookies. <br><br>
      The five Google Analytics cookies are called utma, utmb, utmc, utmv and utmz. They track how often the website is visited, when you enter and leave the site, and which site you visited that lead you to royal.uk.
      utmz also tracks any keywords you entered into a search engine that lead you to royal. uk if appropriate.
    </p>
    <br>

    <h1>
      Virus protection
    </h1>

    <p>
      We make every effort to check and test material at all stages of production. It is always wise for you to run an anti-virus program on all material downloaded from the Internet.
      We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website.
    </p>
    <br>

    <h1>
      Language policy
    </h1>

    <p>
      Every effort is made to ensure that Castellan and English used in this site are clear, simple and straightforward to read.
    </p>
    <br>

    <h1>
      Accessibility
    </h1>

    <p>
      Sanderi Organization aims to provide a web site that is accessible to the widest possible audience, regardless of visual, hearing, motor and cognitive impairments.
      We take seriously the requirements of users with visual and motor disabilities. This site is currently Bobby A accredited. We are working towards implementing higher levels of accessibility in the future development of the site.
    </p>
    <br>

    <h1>
      Viewing pdf files
    </h1>

    <p>
      This web site uses Adobe Acrobat to show particular documents. Files in this format will have the pdf symbol next to them. To view and print pdf files, you must have Adobe Acrobat Reader installed. To download this product for free, please use the link below: <br>
      http://www.adobe.co.uk/products/acrobat/readstep2.html. <br>
      If you cannot use Acrobat Reader to see these documents (for example, if you use screen reader software or an audio-enabled web browser), Adobe provides a free online tool which converts them to text.<br>
      To use this service, send the web address (URL) of the Adobe Acrobat document you want to read through the web form at http://www.adobe.com/products/acrobat/access_onlinetools.html. The service will return the document to you as a web page (HTML) or as plain text.
    </p>
    <br>

    <a (click)="change_language()">Traducir</a>
  </div>
  <div class="description" [hidden]="!translate">
    <h1>Sobre este sitio</h1>
    <p>
      Esta es la web oficial de Sanderi Organization. Escrita y administrada por la Dirección General de la organización en la ciudad de Bogotá, el sitio se dirige a proveer información sobre la fundación y sus iniciativas, presentes y pasadas.<br><br>
      El sitio provee información sobre las memorias e historias de las damas tradicionales involucradas en los proyectos e iniciativas; la historia de los patrimonios que la fundación desea preservar y restaurar,
      información sobre las fincas piloto, información sobre el patrimonio cultural y artístico en manos de damas tradicionales beneficiarias de las iniciativas y el cubrimiento de los compromisos sociales y académicos de las miembros.<br><br>
    </p>

    <h1>Política de información personal</h1>
    <p>
      Sanderi Organization considera el tratamiento legal y correcto de la información personal como vital para el éxito de las operaciones y el mantenimiento de la confidencialidad de quienes interactúan o participan en nuestras actividades.
      La política de privacidad explica algunos pormenores de esta política.
    </p>
    <br>

    <h1>
      Política de enlaces
    </h1>

    <p>
      Usted puede enlazar las páginas presentadas en este sitio sin solicitar permiso.
      No le objetamos los enlaces directos a la información que esta siendo presentada si hay citación y protegiendo el derecho intelectual y económico de los datos. Sin embargo, nosotros no permitimos que nuestras páginas sean descargadas o copiadas en marcos de otros sitios web. <br><br>
      Sanderi Organization no es responsable por el contenido o la confiabilidad de los sitios web a los cuales han sido enlazadas nuestras páginas, y no necesariamente nos adherimos o apoyamos las ideas o el contenido allí presentado. Enlistar o enumerar no debe ser considerado una adhesión o apoyo de cualquier naturaleza.
      No podemos garantizar que estos enlaces trabajaran todo el tiempo, y no tenemos control sobre la disponibilidad de estas páginas web.
    </p>
    <br>

    <h1>
      Privacidad
    </h1>

    <p>
      Sanderi Organization website, con excepción del sistema de suscripción y correspondencia, no guarda ni custodia información personal, pero solo rastrea el IP del usuario, que es automáticamente reconocido por el servidor web.  <br><br>
      No usamos cookies para recolectar información no consentida por el usuario, y no recolecta ningún dato sobre usted excepto los requeridos por el administrador del sistema de nuestro servidor web.<br><br>
      Si usted se registra para recibir actualizaciones, su información será custodiada en un servidor seguro y los datos no serán compartidos con ninguna otra organización o persona. Esto será considerado propiedad confidencial.
      Será utilizado para proveer invitaciones o emails sobre los temas que usted ha requerido. Los datos son administrados en concordancia con las normas de protección del habeas data vigentes para Colombia.
    </p>
    <br>

    <h1>
      Google Analytic Cookies
    </h1>

    <p>
      Sanderi Organization website usa la herramienta de Google Analytic Cookies para trazar tendencias de navegación en el sitio web. Por ejemplo, usamos esta herramienta para identificar las páginas más populares del sitio, encontrar vínculos electrónicos rotos, y darnos una base demográfica sobre dónde los usuarios están revisando nuestra web.
      Nosotros no podemos identificar personalmente a ningún usuario con estas cookies. <br><br>
      Las cinco Google Analytic Cookies son llamadas utma, utmb, utmc, utmv y utmz. Estas cookies rastrean cuántas veces el sitio ha sido visitado, cuándo usted entró y dejó el sitio, y cual sitio usted visitó que lo lideró a buscar la página web de Sanderi.
      Las cookies utmz también rastrea todas las palabras claves que utilizó dentro del sistema de búsqueda que lo lideró a encontrar la página web, si es apropiado.
    </p>
    <br>

    <h1>
      Protección a virus
    </h1>

    <p>
      Nosotros realizamos todo el esfuerzo para verificar y evaluar el material en todas sus etapas de producción. Es siempre sabio que usted tenga un programa antivirus de todo el material que usted descargue del internet.
      No podemos aceptar ninguna responsabilidad objetiva o subjetiva de tipo extracontractual por cualquier pérdida, disrupciones, daños o perjuicios a sus datos o sistemas operativos, lo cual puede ocurrir mientras esté usando material derivado de este sitio web.
    </p>
    <br>

    <h1>
      Política de Lenguaje
    </h1>

    <p>
      Se realiza cada esfuerzo posible para asegurar que el castellano o el inglés usado en este sitio, sea claro, simple y confiable para leer.<br><br>
      Deseamos en un futuro, proveer más información en otros idiomas y dialectos, y adicionar contenido en otros idiomas adicionales, como los recursos lo permitan.
    </p>
    <br>

    <h1>
      Accesibilidad
    </h1>

    <p>
      Sanderi Organization desea proveer un sitio web que sea lo más accesible posible para la mayor cantidad de audiencia, independiente de sus discapacidades o impedimentos visuales, auditivos, motores o cognitivos.<br><br>
      Sanderi Organization toma seriamente los requerimientos de los usuarios con impedimentos o discapacidades visuales y motoras. Este sitio esta actualmente siendo verificado para certificación toda vez que deseamos implementar los más altos niveles de accesibilidad en el desarrollo de las herramientas digitales.
    </p>
    <br>

    <h1>
      Ver archivos pdf
    </h1>

    <p>
      Este sitio web usa Adobe Acrobat para mostrar ciertos documentos. Los archivos en este formato tendrán el símbolo del pdf seguido del archivo. Para ver e imprimir archivos en pdf, usted deberá instalar Adobe Acrobat Reader. Para descargar este producto gratuitamente, por favor, use el siguiente enlace:
      http://www.adobe.co.uk/products/acrobat/readstep2.html. <br> <br>
      Si no puede usar Acrobat Reader para ver los documentos (por ejemplo, usted usa plataformas libres o un sofware lector de pantalla o un sistema de audición en línea, Adobe provee una herramienta en línea gratuita que los convertirá en texto. <br><br>
      Para usar este servicio, envíe la dirección web (URL) del documento en Adobe Acrobat que desee leer a través del formato de la web a http://adobe.com/products/acrobat/access_onlinetools.html.
      Este servicio le retornará el documento como una página web (HTML) o en texto simple.
    </p>
    <br>
  </div>
</section>
