<section>
  <div class="description" [hidden]="translate">
    <h1>Contact us <span class="line"></span></h1>
    <p>
      We are glad to receive your emails asking information about our current programs.
      You can expect a reliable answer as soon as possible. We will attend to you in a
      timely manner and deal with you in sequence according to the arrival time.<br><br>
      For security, we do not receive donations or offers unsolicited by the Organization
      or outside the regular financial conduct for applying the NIFF norms and for
      preventing financial frauds.<br><br>
      Mails and comments may not contain spam, be defamatory of groups or
      individuals, communities or institutions, be obscene, offensive, threatening,
      abusive, or contain or promote explicit or implicit sex or violent material.<br><br>
      Also, content sent to us cannot discriminate against other for race, sex, religion,
      nationality, disability, sexual orientation or age.<br><br>
    </p>

    <p>Mails that may not receive an answer:</p>
    <p>
      Sanderi Organization cannot intervene in topics outside the social object registered
      under the Chamber of Commerce of Bogota. We also cannot intervene in personal
      topics outside the context of our services nor can we provide humanitarian or
      economic support. Mailing requiring such support will receive an automatic
      answer.
    </p>
    <br>
    <p style="text-align: center; margin-bottom: 0 !important;">
      Our mails:
    </p>

    <p style="text-align: center; color: #233580; margin-top: 20px;">
      <span>General information and inquiries:</span>info@sanderi.org<br><br>
      <span>Register of members:</span>register@sanderi.org<br><br>
      <span>Linda Marcela Cortés Sánchez</span>marcelacortes@sanderi.org<br><br>
      <span>Mabel Manrique Ramos International Business Manager</span>mabelmanrique@sanderi.org<br><br>
      <span>Finances and accounting</span>accounting@sanderi.org<br><br>
      <span>Media Center – Barbatusco Films Group</span>media@sanderi.org<br><br>
      <span>Information and sales of the program Specialty Coffee Rural Women´s Association:</span>specialtycoffee@sanderi.org<br><br>
      <span>Customer service: Please, write your claims and queries about bought products at:</span>customerservice@sanderi.org
    </p>

    <br>

    <div class="information">
      <p style="text-align: center; margin-bottom: 0 !important;">SANDERI ORGANIZATION, NIT. 900794684-9</p>
      <p style="text-align: center; margin-bottom: 0 !important; font-size: 14px;">Carrera 13 A No. 28 – Suite 3903,</p>
      <p style="text-align: center; margin-bottom: 0 !important; font-size: 14px;">Cellphone: (057) 318 862 1701</p>
      <p style="text-align: center; margin-bottom: 0 !important; font-size: 14px;">Museo del Parque Torre Alta, Centro Internacional,</p>
      <p style="text-align: center; margin-bottom: 0 !important; font-size: 14px;">ZIP 110311, Bogotá, D.C.</p>
      <p style="text-align: center; margin-bottom: 0 !important; font-size: 14px;">Colombia, South America.</p>
    </div>

<!--    <a (click)="change_language()">Traducir</a>-->
  </div>
  <div class="description" [hidden]="!translate">
    <h1>Contáctenos</h1>
    <p>
      Estaremos complacidas de recibir sus correos preguntando por información sobre
      nuestros programas. Usted puede esperar de nosotros una respuesta confiable tan
      pronto sea posible. Atenderemos su correo en un tiempo oportuno, según el orden
      de llegada.<br><br>
      Por seguridad, no se reciben donaciones ni ofertas que no hayan sido solicitadas
      por la organización o por fuera del conducto regular financiero determinado para la
      aplicación de las normas NIFF y de prevención de lavados de activos.<br><br>
      La correspondencia o comentarios no deben contener spam, ser difamatorios de
      cualquier persona, comunidad u organización, ser obscenos, ofensivos,
      amenazantes, abusivos, o contener o promover explícita o implícitamente material
      sexual o violento.<br><br>
      Igualmente, no deben promover la discriminación basada en raza, sexo, religión,
      nacionalidad, discapacidad, orientación sexual o edad.<br><br>
    </p>

    <h1>Correspondencia que no recibirá una respuesta</h1>
    <p>
      Sanderi Organization no puede intervenir en temas que sean fuera del contexto del
      objeto social registrado en la Cámara de Comercio de Bogotá. Tampoco la
      Organization puede intervenir en temas personales que sean fuera del contexto del
      servicio ni otorgar ayudas humanitarias o económicas. Correspondencia
      requiriendo hacer esto recibirán una respuesta automática sobre el particular.
    </p>
    <br>

    <p>Información<br>info@sanderi.org</p>
    <p>Registro de miembros <br>register@sanderi.org</p>
    <p>Linda Marcela Cortés Sánchez <br>marcelacortes@sanderi.org</p>
    <p>Mabel Manrique Ramos <br>International Business Manager <br>mabelmanrique@sanderi.org</p>
    <p>Contabilidad y finanzas <br>accounting@sanderi.org</p>
    <p>Centro Audiovisual - Barbatusco Films Group <br>media@sanderi.org</p>

    <p>Información y pedidos para la Asociación de Mujeres Cafeteras: specialtycoffee@sanderi.org</p>
    <p>Servicio al Cliente: Por favor, escriba sus quejas y reclamos referentes a los
      productos adquiridos:<br> customerservice@sanderi.org</p>

    <br>

    <div class="information">
      <p>SANDERI ORGANIZATION, NIT. 900794684-9</p>
      <p>Carrera 13 A No. 28 – Suite 3903,</p>
      <p>Celular: (057) 318 862 1701</p>
      <p>Museo del Parque Torre Alta, Centro Internacional,</p>
      <p>ZIP 110311, Bogotá, D.C.</p>
      <p>Colombia, South America.</p>
    </div>
  </div>
</section>
