<section>
  <h1>Our programs <span class="line"></span></h1>
  <div class="description">
    <div class="menu">
      <ul>
        <li><a routerLink="detail/nature-and-rural-life">Nature and Rural Life</a>
          <ul>
            <li><a routerLink="detail/nature-and-rural-life/specialty-coffee-rural-women">Specialty Coffee Rural Women´s Association of Alto Tequendama, Cundinamarca, Colombia</a></li>
            <li><a routerLink="detail/nature-and-rural-life/interinstitutional-research-agreement-between-the-organization-and-the-universidad-piloto-de-colombia">Interinstitutional Research Agreement between the Organization and the Universidad Piloto de Colombia, International Commerce Program 2019 - 2020</a></li>
            <li><a routerLink="/the-coffee-store">Export Platform of Specialty Coffee Beans – The Coffee Store</a></li>
            <li><a routerLink="detail/nature-and-rural-life/62-coffee-rural-ladies-day">62 Coffee Rural Ladies Day “04 October of 2019</a></li>
          </ul>
        </li>
        <li><a routerLink="detail/art-and-culture">Art and culture</a>
          <ul>
            <li><a routerLink="detail/art-and-culture/bicentenary">Bicentenary</a></li>
            <li><a routerLink="detail/art-and-culture/the-wild-ladies-book">The Wild Ladies´ Book - El libro de la mujer silvestre</a></li>
            <li><a routerLink="detail/art-and-culture/langlais-heritage-fund">Langlais Heritage Fund</a></li>
          </ul>
        </li>
        <li><a routerLink="detail/media-center">Media Center</a>
          <ul>
            <li><a routerLink="detail/media-center/barbatusco-films-group">Barbatusco Films Group</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="program">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
