<section>
  <h1>Our programs</h1>

  <h3>Nature and Rural Life</h3>
  <p>“Nature and rural life programs are designed to protect property collective or individual rights, organic food security, natural richness and seeds; it also aims to empower traditional rural ladies and their communities through introducing them to international commerce platforms, in which they are encouraged to preserve their natural resources, agricultural knowledge and landscapes from an entrepreneur vision”.</p>

  <h3>Art and culture</h3>
  <p>“Art and culture address the need of widows of artists; it is a project to rescue art patrimony and heritage; specifically, we aim to preserve the memory of those artists that served the Nation, but that are left behind for the new waves. It also connects young and senior artists to produce new projects designed to spread our vision through events carefully based on historiographical methodologies”.</p>

  <h3>Media</h3>
  <p>“Our media center “Barbatusco Films Group” is the filmmaker of our organization. It connects senior and young entrepreneurs with Sanderi Productions to release original short films and documentary based on the “Rescuing Feminine Memories and Short Stories”. Also, we produce non-profit events that spread the vision and lobby of our organization.”</p>

</section>
