section {
  padding: 40px 0;
  width: 720px;
  margin: auto;
  min-height: 66vh;
  h1 {
    font-size: 32px;
    color: #233580;
    //border-bottom: 4px solid #233580;
    padding-bottom: 15px;
    font-weight: bold;
    .line {
      width: 50px;
      height: 2px;
      background: #233580;
      display: block;
      margin-top: 20px;
    }
  }

  p {
    font-family: Raleway-Medium;
    letter-spacing: 2px;
    font-size: 17px;
    color: black !important;
  }
}
