<section>
  <div class="description">
    <h3>The Organization<span class="line"></span></h3>
    <p>
      Sanderi Organization vision is to secure prosperity and better life for traditional ladies and their communities.
      We work to restore small economies through programs designed specifically to empower ladies interested in preserving their cultural, natural and agricultural patrimony and heritage.
      <br>
      <br>
      We believe that all ladies´ activities have a superior role to money or assets.
      Indeed, ladies are helping the Nation with their time, efforts, social relationships and health; all efforts in preserving patrimony and heritage enable us to maintain hope, security, prosperity, territory, family, institutions and the rule of law.
      For that reason, our core values are: land, intangible patrimony, language uses, natural resources, knowledge and know how –mostly in custody by heritage-, including the honor of the family.
      <br>
      <br>
      The organization was founded by Luz Marina Sánchez de Cortés and her daughter Linda Marcela Cortés Sánchez.
      Luz Marina is licensed in Social Sciences; has a master in Political Sciences; and is Lawyer. In previous years, she was syndicalist in the auto motor sector.
      She is married to Israel O. Cortés who is Labor Lawyer, serving retired sailors and other kind of workers.
      Linda Marcela is lawyer and environment activist. The family is also dedicated to maintain agricultural activities as their second activity.
      <br>
      <br>
      Our senior members are activists, artists, professors, entrepreneurs, and retired ladies from many cultural, intellectual and professional backgrounds that bring time, effort and intellect in planning our activities and programs.
      Our associated members are those members of society that benefit from our programs, especially young entrepreneurs and rural women and their communities.
      <br>
      <br>
    </p>
  </div>
</section>
