section {
  padding-left: 40px;
  width: 720px;
  margin: auto;
  h1 {
    font-size: 32px;
    color: #233580;
  }
  p {
    font-family: Raleway-Medium;
    letter-spacing: 2px;
    font-size: 17px;
    color: black;
  }
}
