<section>
  <div class="detail" *ngIf="name == 'nature-and-rural-life' && subname == 'specialty-coffee-rural-women'">
    <h1>Specialty Coffee Rural Women´s Association of Alto Tequendama, Cundinamarca, Colombia</h1>
    <br>
    <p>

      Sanderi Organization has been working a program to empower rural women, peasants and professionalized, since 2014.
      The rural ladies are interested in preserving shaded natural forests and coffee gardens located between 1.110 to 2.200 meters over sea in the Alto Tequendama Region, Cundinamarca Colombia.
      <br><br>

      We aim to empower traditional rural ladies and their communities through introducing them to international commerce platforms that value the ladies’ efforts in preserving natural resources, agricultural knowledge and landscapes.
      Few coffee gentlemen that supported the project also started to join us. <br><br>

      We have two objectives: empowering the coffee entrepreneurs through a model for internationalizing their crops and rainforests in which they can directly sell beans and environmental services;
      and lobbying the declaration of the region as a natural area protected under Colombian regulations.
      Sanderi also is assisting some farms to initiate legal measures to declare themselves as Rainforest Reserves Owned by Civil Society.
      <br><br>

      Particularly, Alto Tequendama Region is located in an Andean Mountain located at the center of our country, Dpto. Cundinamarca, Ecotopo 314 A. This region is an important producer of environmental services like spring water and fresh air.
      It is characterized for big rocks and soils enriched by the leaves of trees. The soils maintain traditional agricultural systems that have been surviving since colonial times.
      This region is menaced by population grow and deforestation. <br><br>

      Alto Tequendama preservation is mainly due for the coffee farms; the wild Arabic coffee - “Castillo” variety- has shade under aboriginal trees and other natural gardens.
      The main coffee trees´ shade is the Andean rainforest. This practice is different to other kind of coffee lands, in which the coffee grows under mono-crops´ shade.
      Different to other regions of Colombia, the main harvest is between March – June. <br><br>

      In this region, we cultivate citric, cacao, sugarcane, and fruits near the coffee plants in a sustainable manner with other natural resources; birds and bees pollinize the flowers in two seasons: March and October. Our beans have delicate taste and fragrances from such pollination.
      <br><br>

      The coffee crops are registered under the “Federación Nacional de Cafeteros FNC”. Each farm registered has direct access to the technical agricultural advice from the FNC Extension Service of Sectional Manjuy that serves all municipalities of the Alto Tequendama Region.
      Some farms also hire agricultural technicians or engineers to improve the organic crops. Actually, the rural ladies than benefit from the program are organized into the Specialty Coffee Rural Women´s Association of Alto Tequendama Region, Cundinamarca Colombia.
      <br><br>

    </p>
  </div>
  <div class="detail" *ngIf="name == 'nature-and-rural-life' && subname == 'interinstitutional-research-agreement-between-the-organization-and-the-universidad-piloto-de-colombia'">
    <h1>Interinstitutional Research Agreement between the Organization and the Universidad Piloto de Colombia, International Commerce Program 2019 - 2020</h1>
    <br>
   <p>

     The organization signed an Interinstitutional Research Agreement with the
     program of International Commerce that pertains to the Universidad Piloto de
     Colombia. The research has been led by Professor Mabel Manrique Ramos,
     International Business Manager and Magister in International Commerce. <br><br>

     In addition, we receive knowledge transfer and work papers for strengthening the
     program from an entrepreneur vision from qualified professors and technical
     professionals in a co-working environment. From 2019 to 2020, several students
     have been researching about the specialty coffee market and quality certifications.
     This kind of research is applied to the need of our rural women´s association. <br><br>

     The research is entitled “Transformation and Internationalization of Small
     Quantities of Specialty Coffee Beans from Alto Tequendama Region”, registered
     under the Code PID-CRV-10599-2020 (“línea de investigación: competitividad y
     redes de valor, perteneciente al grupo de investigación innovación y competitividad
     de la organización ICO). We produced a socioeconomic characterization of each
     member of the program, two academic articles, an operative manual for logistics,
     and an international business model for small quantities. In collaboration with an
     expert Professor from Javeriana University, 11 farms also received a study on
     biodiversity and bird surveillance. <br><br>

     Also, rural ladies attended a specially designed virtual course for the
     internationalization. The certified course had 50 hours from 25 June to 22 October
     of 2020. The members benefited from a curriculum with the following content:
     Producing Specialty Coffee Beans, Currency Exchange Regimen, Taxation
     Regimen, Customs Regimen, Accounting Regulations, Internationalization
     Processes and Strategies, Origin Denomination, Intellectual Property Rights, ICC
     Incoterms™, and Payment Methods in International Commerce. <br><br>

   </p>
  </div>
  <div class="detail" *ngIf="name == 'nature-and-rural-life' && subname == '62-coffee-rural-ladies-day'">
    <h1>62 Coffee Rural Ladies Day “04 October of 2019”</h1>
    <br>
    <p>

      We celebrate the first Coffee Rural Ladies Day in San Vicente (La Esperanza) at
      Municipality of La Mesa. Our day was 04 October of 2019. <br><br>

      This time, 62 coffee rural ladies from 5 municipalities of Alto Tequendama Region
      joined us from Municipalities of Anolaima, Tena, La Mesa, Cachipay and few of
      Viota. The rural ladies attended 5 academic conferences by Sanderi and Professors
      like Mabel Manrique (Universidad Piloto) and Ph.D. Javier Pinedo (Universidad
      Andes). Also, they have a workstation about quality selection of beans by the FNC
      Extension Service Sectional Manjuy. <br><br>

      Mercedes Rodríguez (q. e. p. d.), our first lady in running the Mayor office of La
      Mesa, sent all the staff of the “Economic and Agricultural Secretary” to support our
      meeting. Cundinamarca Government staff expert in Gender and Development also
      participated. Rural Coffee Program from FNC explained how rural ladies benefit
      from associations. <br><br>

    </p>
  </div>
  <div class="detail" *ngIf="name == 'art-and-culture' && subname == 'bicentenary'">
    <h1>Bicentenary</h1>
    <br>
    <div class="galery">
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/bicentenario1.jpg'+')'}"></div>
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/Bolivar.jpg'+')'}"></div>
    </div>
  </div>
  <div class="detail" *ngIf="name == 'art-and-culture' && subname == 'the-wild-ladies-book'">
    <h1>The Wild Ladies´ Book - El libro de la mujer silvestre</h1>
    <br>
    <div class="galery">
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/bicentenario1.jpg'+')'}"></div>
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/Bolivar.jpg'+')'}"></div>
    </div>
  </div>
  <div class="detail" *ngIf="name == 'art-and-culture' && subname == 'langlais-heritage-fund'">
    <h1>Langlais Heritage Fund</h1>
    <br>
    <div class="galery">
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/bicentenario1.jpg'+')'}"></div>
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/Bolivar.jpg'+')'}"></div>
    </div>
  </div>
  <div class="detail" *ngIf="name == 'media-center' && subname == 'barbatusco-films-group'">
    <h1>Barbatusco Films Group</h1>
    <br>
    <div class="galery">
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/bicentenario1.jpg'+')'}"></div>
      <div class="program" [ngStyle]="{'background-image': 'url('+authService.API+'img/programs/Bolivar.jpg'+')'}"></div>
    </div>
  </div>
</section>
